@import "~bootstrap/scss/bootstrap";

nav {
  height: 56px;
  width: auto;
  background: #5c16c5;
  display: flex;
  align-items: center;
  a {
    fill: white;
    svg {
      display: inline-block;
      height: 24px;
      width: auto;
    }
  }
}
