@import "~bootstrap/scss/bootstrap";

.movieHeader {
  display: flex;
  position: relative;
  height: auto;
  width: auto;
  background-color: #2d0c5e;
  margin-bottom: 20px;

  img {
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    img {
      top: 30px;
    }
    .movieInfo-md {
      display: none;
    }
    .movieInfo-sm {
      font-weight: 400;
      font-size: 18px;
    }
  }
  @include media-breakpoint-up(md) {
    flex-direction: row;
    img {
      top: 20px;
    }
    .movieInfo-sm {
      display: none;
    }
    .movieInfo-md {
      font-weight: 400;
      font-size: 18px;
    }
  }

  .headerInfo {
    @include media-breakpoint-down(md) {
      margin-left: 10px;
      padding-top: 40px;
    }
    @include media-breakpoint-up(md) {
      margin-left: 30px;
      padding-top: 20px;
    }
    color: white;

    position: relative;
    .title {
      font-size: 32px;
      font-weight: 700;
      letter-spacing: -0.005em;
    }
    h5 {
      font-weight: bold;
    }
    .sinopse {
      font-size: 16px;
      color: #ddd;
      letter-spacing: -0.005em;
    }
    .crew {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-bottom: 20px;
      .crewMember {
        display: inherit;
        flex-direction: column;
        width: 145px;
        margin: 0px 15px 20px 0px;
        .name {
          font-size: 16px;
          line-height: 24px;
          font-weight: bold;
        }
        .job {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}
